body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 1.8em;
    color: #007bff;
    margin-top: 30px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 15px;
  }
  
  .quiz-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  
  
  
    